// Стилизация БЭМ-блока page.
// Общие стили тегов.
// Подключение шрифтов.
// Типографика.


// Сделаем viewport великим снова! (привет, IE10) http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport {
    width: device-width;
  }
}


/* stylelint-disable */
// @font-face {
//   font-family: 'FONTNAME';
//   src: url('../fonts/FONTNAME.woff2') format('woff2'),
//        url('../fonts/FONTNAME.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }
/* stylelint-enable */

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GeometriaMedium';
  src: url('../fonts/Geometria-Medium.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'GeometriaBold';
  src: url('../fonts/Geometria-Bold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'GeometriaRegularI';
  src: url('../fonts/Geometria-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
font-family: 'GeometriaMediumI';
src: url('../fonts/Geometria-MediumItalic.woff2') format('woff2');
font-weight: 600;
font-style: italic;
}

@font-face {
  font-family: 'GeometriaLightI';
  src: url('../fonts/Geometria-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'GeometriaLightI';
  src: url('../fonts/Geometria-BoldItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}
@font-face {
font-family: 'GeometriaLight';
src: url('../fonts/Geometria-Light.woff2') format('woff2');
font-weight: 300;
font-style: normal;
}
.page {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  min-width: 320px;
  min-height: 100%;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}
@font-face {
  font-family: 'Geometria';
  src: url('fonts/Geometria-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'GeometriaMedium';
  src: url('fonts/Geometria-Medium.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'GeometriaBold';
  src: url('fonts/Geometria-Bold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'GeometriaRegularI';
  src: url('fonts/Geometria-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
font-family: 'GeometriaMediumI';
src: url('fonts/Geometria-MediumItalic.woff2') format('woff2');
font-weight: 600;
font-style: italic;
}
@font-face {
  font-family: 'GeometriaLightI';
  src: url('fonts/Geometria-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'GeometriaLightI';
  src: url('fonts/Geometria-BoldItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}
@font-face {
font-family: 'GeometriaLight';
src: url('fonts/Geometria-Light.woff2') format('woff2');
font-weight: 300;
font-style: normal;
}
html {
  overflow-x: hidden;
}
body {
  display: flex;           // Исправляем баг в IE для min-height and flexbox (flex-direction:column)
  flex-direction: column;  // и прижимаем footer в IE 10-11
  margin: 0;
  min-height: 100%;
  word-break: break-word;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  text-align: left;
  color: $text-color;
  background-color: $body-bg;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

[tabindex='-1']:focus {
  outline: none !important;
}

// Коррекция для кликабельных элементов с указанной ролью в iOS
[role='button'] {
  cursor: pointer;
}

// Мы любим Сафари (на самом деле, нет).
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

// area,
// summary,
a,
button,
[role='button'],
input,
label,
select,
textarea {
  touch-action: manipulation; // Стилевая коррекция 300ms задержки (для поддерживающих браузеров)
  margin: 0;                  // Убираем margin в Firefox и Safari
}

button,
input {
  overflow: visible;    // Покажем торчащее в Edge
  text-transform: none; // Уберём наследование text transform в Firefox
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; // Коррекция проблем стилизации для Safari
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; // Коррекция для Mobile Safari (https://github.com/twbs/bootstrap/issues/11266)
}

textarea {
  overflow: auto;   // Удаление верт. скролла в IE.
  resize: vertical; // Правильное изменение размеров
}

svg {
  fill: currentColor;

  a &,
  button & {
    pointer-events: none; // Мы любим Edge, это браузер! (почти)
  }

  &:not(:root) {
    overflow: hidden; // Скрыть выступающее за границы в IE
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $link-color;
  background-color: transparent;
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: $link-color--hover;
  }

  // &:visited {
  //   color: $link-color--hover;
  // }

  &[href^="tel:"] {

    // На больших экранах телефоны-ссылки делаем обычным текстом
    @media (min-width: $screen-xl) {
      white-space: nowrap;
      pointer-events: none;
      text-decoration: inherit;
      color: inherit;
    }
  }
}

hr {
  box-sizing: content-box; // Проблема Firefox
  height: 0;               // Проблема Firefox
  overflow: visible;       // Проблема Edge и IE
  margin-top: $typo-margin-vertical * 2;
  margin-bottom: $typo-margin-vertical * 2;
  border: 0;
  border-top: 1px solid $border-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-family: "GeometriaMedium";
  line-height: 1.2;
  color: currentColor;
}
a:focus{
  outline: none;
} 

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }

p,
ul,
ol,
dl,
table,
blockquote,
pre,
address,
figure {
  margin-top: 0;
  margin-bottom: $typo-margin-vertical;
}

address {
  font-style: normal;
}

ul,
ol {
  margin-bottom: $typo-margin-vertical;
  padding-left: 1.5em;

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

li {
  line-height: inherit;
}

// dt {
//   font-weight: 700;
// }

// dd {
//   margin-left: 0;

//   @media (min-width: $screen-sm) {
//     margin-left: 1.5rem;
//   }

//   & + dt {
//     margin-top: ($line-height / 2);
//   }
// }

// .small,
small {
  font-size: $font-size-sm;
}

sub,
sup {
  font-size: $font-size-sm;
}

// .mark,
// mark {
//   background: rgba($color-warning, 0.3);
//   padding: 0.1em 0.3em;
// }

b,
strong {
  font-weight: bolder;
}

// abbr[title] {
//   text-decoration: underline dotted;
// }

blockquote {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

// samp,
code,
kbd,
pre {
  font-family: $font-family--monospace;
}

code {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: rgba(#000, 0.08);
  border-radius: $border-radius;
}

kbd {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: $gray-lightest;
  border-radius: $border-radius;

  kbd {
    padding: 0;
  }
}

pre {
  display: block;
  width: 100%;
  margin-bottom: $typo-margin-vertical;
  overflow-x: auto;
  tab-size: 2;
  background-color: rgba(#000, 0.08);

  code {
    background: transparent;
  }
}

h2{
  position: relative;
  font-family: 'Playfair Display SC',serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom:1em;

  > span{
    display: inline-block;
    position:relative;
    font-size:0.5em;
    line-height: 2em;
    font-weight: 300;

    &:before,
    &:after {
    content: '';
    position: absolute;
    display:block;
    width:50px;
    height: 1px;
    background-color: $black;
    }
    &:before {
      top: 1em;
      left:-60px;
    }
    &:after {
      bottom:1em;
      right:-60px;
    }
  }
}
.hidden{
  display:none;
}
.header-menu__item .icons {
  display: inline-block;
  stroke: $vaiolit;
}
.header-menu__item .icon-fill {
  display: inline-block;
  fill: #7E2E7A;
}
.header-menu__item:hover .icons {
  stroke: #630a5e;
}
.header-menu__item:hover .icon-fill {
  fill: #630a5e;
}
.header-menu__language .icons {
  margin-left:5px;
}

.about__inner {
  @include container();
  padding: 3rem 0;
}
.about__row {
  @include row();
}
.about__content {
  @include col(md, 8, $grid-columns, 40px);
}
.about__events {
  @include col(md, 4);
  @include row();
}
.about__title {
  font-family: 'GeometriaMedium';
  font-size:24px;
  margin-bottom:1rem;
}
.about__text {
  @include row();
  text-align: justify;
}
.about-text__before {
  @include col(sm, 1)

  & figure {
    margin: 0px;
    margin-top: 7px;
    padding: 0px;
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #852E81;
  }
}
.about-text__content {
  @include col(sm, 11); 
}
.about-text__content p {
  padding: 0 5rem 0 1rem;
}
.about-text__event-content {
  @include col(sm, 9, $grid-columns, 10px); 
}
.about-text__date {
  @include col(sm, 3);
  background-color: #ffffff;
  color: #272C3E;
  margin: 2px 0;
  padding: 15px 0;
  text-align: center;
  padding: 15px 0 5px 0;
}
.about-text__date--old{
  background-color: #852E81;
  color:#ffffff;
}
.about-text__day {
  font-size:39px;
  line-height: 22px;
  font-family:'GeometriaMedium';
}
.about-text__event-content {
margin-left:15px;
}
.about-text__event-content a{
color: #272C3E;
text-decoration: none;
}
.about__event {
  display: flex;
  align-items: center;
}

.practice {
  border-bottom: 10px solid rgba(126,46,122,.1);
    padding-bottom: 2.8rem;
  &__inner {
    @include container
  }
  &__row {
    @include row();
  }
  &__content {
    @include col(md, 8, $grid-columns, 40px)
  }
  &__branch {
    @include col (md, 4)
  }
  &__list {
    @include row();
    margin:0;
    padding:0;
    height: 278px;
    overflow: hidden;
  } 

  &__item {
    @include col (md, 4);
    @include col (sm, 6); 
    list-style:none;
    padding: 14px 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    opacity:0;
    transition-duration: 1.3s;
    -webkit-transition-property: all;
    -webkit-transition-duration: 1.3s;
    -webkit-transition-timing-function: ease;
    animation-name: blurout;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    
     
    & a {
    color:#ffffff;
    font-size: 1em;
    line-height: 1.3em;
    text-decoration:none;
    padding: 14px 20px;
    display: flex;
    width:100%;
    height:115px;
    align-items: center;
    justify-content: center;
    }
  }
  &__item:nth-child(1n) {
    animation-delay: 0.1s;
    animation-duration: 5.6s;
  } 
  &__item:nth-child(2n) {
    animation-delay: 0.2s;
    animation-duration: 5.7s;
  }
  &__item:nth-child(3n) {
    animation-delay: 0.3s;
    animation-duration: 5.8s;
  } 
  &__item:nth-child(4n) {
    animation-delay: 0.4s;
    animation-duration: 5.9s;
  } 
  &__item:nth-child(5n) {
    animation-delay: 0.5s;
    animation-duration: 6s;
  }  
  &__item:nth-child(6n) {
    animation-delay: 0.1s;
    animation-duration: 5.6s;
  } 
  &__item:nth-child(7n) {
    animation-delay: 0.2s;
    animation-duration: 5.7s;
  }
  &__item:nth-child(8n) {
    animation-delay: 0.3s;
    animation-duration: 5.8s;
  } 
  &__item:nth-child(9n) {
    animation-delay: 0.4s;
    animation-duration: 5.9s;
  } 
  &__item:nth-child(10n) {
    animation-delay: 0.5s;
    animation-duration: 6s;
  } 
  &__item:nth-child(11n) {
    animation-delay: 0.1s;
    animation-duration: 5.6s;
  } 
  &__item:nth-child(12n) {
    animation-delay: 0.2s;
    animation-duration: 5.7s;
  }
  &__item:nth-child(13n) {
    animation-delay: 0.3s;
    animation-duration: 5.8s;
  } 
  &__item:nth-child(14n) {
    animation-delay: 0.4s;
    animation-duration: 5.9s;
  } 
  &__item:nth-child(15n) {
    animation-delay: 0.5s;
    animation-duration: 6s;
  } 
  &__item:nth-child(16n) {
    animation-delay: 0.1s;
    animation-duration: 5.6s;
  } 
  &__item:nth-child(17n) {
    animation-delay: 0.2s;
    animation-duration: 5.7s;
  }
  &__item:nth-child(18n) {
    animation-delay: 0.3s;
    animation-duration: 5.8s;
  } 
  &__item:nth-child(19n) {
    animation-delay: 0.4s;
    animation-duration: 5.9s;
  } 
  &__item:nth-child(20n) {
    animation-delay: 0.5s;
    animation-duration: 6s;
  }    
}

.branch {
  
  &__list {
    @include row();
    margin:0;
    padding:0;
    height: 278px;
    overflow: hidden;
  } 

  &__item {
    @include col (md, 6);
    list-style:none;
    padding: 14px 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    opacity:0;
    transition-duration: 1.3s;
    -webkit-transition-property: all;
    -webkit-transition-duration: 1.3s;
    -webkit-transition-timing-function: ease;
    animation-name: blurout;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-delay: 0.2s;
    animation-duration: 5.5s;
    
    & a {
    color:#ffffff;
    font-size: 1em;
    line-height: 1.3em;
    text-decoration:none;
    padding: 14px 20px;
    display: flex;
    width:100%;
    height:115px;
    align-items: center;
    justify-content: center;
    }
  }
  &__item:nth-child(1n) {
    animation-delay: 0.3s;
    animation-duration: 5.2s;
  } 
  &__item:nth-child(2n) {
    animation-delay: 0.2s;
    animation-duration: 5.1s;
  }
  &__item:nth-child(3n) {
    animation-delay: 0.3s;
    animation-duration: 5.4s;
  } 
  &__item:nth-child(4n) {
    animation-delay: 0.1s;
    animation-duration: 5.1s;
  } 
  &__item:nth-child(5n) {
    animation-delay: 0.3s;
    animation-duration: 5.0s;
  }  
  &__item:nth-child(6n) {
    animation-delay: 0.1s;
    animation-duration: 5.2s;
  } 
  &__item:nth-child(7n) {
    animation-delay: 0.3s;
    animation-duration: 5.7s;
  }
  &__item:nth-child(8n) {
    animation-delay: 0.1s;
    animation-duration: 5.2s;
  } 
  &__item:nth-child(9n) {
    animation-delay: 0.4s;
    animation-duration: 5.0s;
  } 
  &__item:nth-child(10n) {
    animation-delay: 0.5s;
    animation-duration: 5.5s;
  } 
  &__item:nth-child(11n) {
    animation-delay: 0.1s;
    animation-duration: 5.6s;
  } 
  &__item:nth-child(12n) {
    animation-delay: 0.2s;
    animation-duration: 5.7s;
  }
  &__item:nth-child(13n) {
    animation-delay: 0.3s;
    animation-duration: 5.8s;
  } 
  &__item:nth-child(14n) {
    animation-delay: 0.4s;
    animation-duration: 5.9s;
  } 
  &__item:nth-child(15n) {
    animation-delay: 0.5s;
    animation-duration: 6s;
  } 
  &__item:nth-child(16n) {
    animation-delay: 0.1s;
    animation-duration: 5.6s;
  } 
  &__item:nth-child(17n) {
    animation-delay: 0.2s;
    animation-duration: 5.7s;
  }
  &__item:nth-child(18n) {
    animation-delay: 0.3s;
    animation-duration: 5.8s;
  } 
  &__item:nth-child(19n) {
    animation-delay: 0.4s;
    animation-duration: 5.9s;
  } 
  &__item:nth-child(20n) {
    animation-delay: 0.5s;
    animation-duration: 6s;
  } 
  
}
@keyframes blurout {
  0% {
      opacity: 0
  }
  15% {
      opacity: 1
  }
  75% {
      opacity: 1
  }
   100% {
      opacity: 0
  } 
}
.vaiolit{
  background-color: rgb(132,70,173)
}
.blue {
  background-color: rgb(2,135,181);
}
.grey {
  background-color: rgb(143,172,176);
}
.red {
  background-color: rgb(241,93,59);
}
.grey-dark {
  background-color: rgb(86,119,142);
}
.yellow {
  background-color: rgb(239,216,3);
}
.green-light {
  background-color: rgb(190,198,123);
}
.blue-dark {
  background-color: rgb(0,92,157);
}
.vaiolit-light {
  background-color: rgb(166,126,184);
}
.rose {
  background-color: rgb(241,111,135);
}
.bege{
  background-color: rgb(219,198,157);
}
.blue-light {
  background-color: rgb(35,146,214);
}
.bordo {
  background-color: rgb(106,45,68);
}
.rose-light {
background-color: rgb(242,128,162);
}
.red-dark {
  background-color: rgb(226,88,41);
}
.vaiolit-tein{
  background-color: rgb(211,179,213);
}
.rose-dark {
  background-color: rgb(217,38,45);
}
.vaiolit-superlight {
  background-color: rgb(200,161,250);
}
.green-blue {
  background-color: rgb(18,163,161);
}
.blue-green {
  background-color: rgb(124,199,156);
}
.green-dark {
  background-color: rgb(73,131,98);
}


