// В этом файле должны быть стили для БЭМ-блока header-menu, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.header-menu {

  $block-name:                &; // #{$block-name}__element
  @include col(md, 7);
  @include col-offset(md, 2);

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style:none;
  }
    &__item {
    list-style: none;
    display: flex;
    align-items: center;
    
    & svg {
      margin-right:14px;
    }
  }
  &__link { 
     font-size: 14px;
     color: $text-color-muted;
     text-decoration:none;
     font-family:'GeometriaMedium';
  }
  &__language {
    text-decoration: underline;
  }

} 


